body {
  font-family: Arial;
  background-color: gray;  
  color: black; 
}

h1 {
  text-align: center;
  color: black;
  font-size: 3em;
}

ul {
  color: black;
}

/* Category list items */
.category {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}

/* Category title */
h2 {
  color: black;
  font-size: 1.8em;
  margin: 0;
}

/* Category description */
.category p {
  color: gray;
  font-size: 1.1em;
  margin: 10px 0;
}


.create-new-category {
  display: block;
  width: 220px;
  margin: 30px auto;
  background-color: #007bff;  /* Blue background for buttons */
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;  /* Remove underline */
  transition: background-color 0.3s ease, transform 0.3s ease;  /* Smooth hover effect */
}