<% content_for :javascript do %>
  <script type="module">
    import "donation";
  </script>
<% end %>

<h1>Support Our Blog</h1>
<%= form_with url: donations_path, method: :post, local: true, id: "payment-form" do |form| %>
  <%= form.hidden_field :csrf_token, value: form_authenticity_token %> <!-- Ensure the CSRF token is included -->

  <label for = "email"> Enter Email:</label>
  <%= form.email_field :email, required: true, autocomplete: "email" %>
  <br>
  <label for="amount">Donation Amount:</label>
  <input type="number" name="amount" min="1" required />
  <br>
  <div id= "card-container">
  <label for="card-element">Credit or Debit Card:</label>
  <div id="card-element"><!-- Stripe will place the card input here --></div>
  </div>
  <button type="submit">Donate</button>
<% end %>







